html,
body {
  margin: 0;
  padding: 0;
}

.center_Video {
    text-align: center;
}

.limitBtn {
  
  background: #d43f3a;
  color: #ffffff !important;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  height: 30px;
  line-height: 0.8;
  padding: 5px 15px;
  text-transform: capitalize;
  border-radius: 1px;
  letter-spacing: 0.5px;
  border: 0px !important;
  cursor: pointer;
  border-radius: 100px;

}


.themeBtn {
  
  background: #ff5c00;
  color: #ffffff !important;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  height: 30px;
  line-height: 0.8;
  padding: 10px 30px;
  text-transform: capitalize;
  border-radius: 1px;
  letter-spacing: 0.5px;
  border: 0px !important;
  cursor: pointer;
  border-radius: 100px;

}

.themeBtn2 {
    background: #7600ff;
    color: #ffffff !important;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 30px;
    line-height: 0.8;
    padding: 10px 30px;
    text-transform: capitalize;
    border-radius: 1px;
    letter-spacing: 0.5px;
	border:0px !important;
	cursor:pointer;
	border-radius:100px;

}

.themeBtn3 {
    background: #ff2e4d;
    color: #ffffff !important;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 30px;
    line-height: 0.8;
    padding: 10px 30px;
    text-transform: capitalize;
    border-radius: 1px;
    letter-spacing: 0.5px;
	border:0px !important;
	cursor:pointer;
	border-radius:100px;

}

.themeBtn4 {
    background: #006eff;
    color: #ffffff !important;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 30px;
    line-height: 0.8;
    padding: 10px 30px;
    text-transform: capitalize;
    border-radius: 1px;
    letter-spacing: 0.5px;
	border:0px !important;
	cursor:pointer;
	border-radius:100px;

}

.themeBtn5 {
    background: #5cb85c;
    color: #ffffff !important;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 30px;
    line-height: 0.8;
    padding: 10px 20px;
    text-transform: capitalize;
    border-radius: 1px;
    letter-spacing: 0.5px;
	border:0px !important;
	cursor:pointer;
	border-radius:100px;

}

.label2 {
    position:relative;
    z-index:1;
    width:100%;
    padding: 8px 20px;
    margin:10px auto;
    border: 1px solid rgb(200, 200, 200);
	background:#87A800;
    font-size: 16px; 
    color:#fff;
    border-radius: 4px;
  
}

.box1 {
    
    position:relative;
    z-index:1;
    width:100%;
    padding: 8px 20px;
    margin:10px auto;
    margin-right: 5px;
    border: 1px solid rgb(200, 200, 200);
	background:  #E4C054;
    border-radius: 4px;
    font-size: 16px; 
    font-weight : bold;
    color: black;
 
}


.counter-count {
  
  height: 30px;
  border-radius: 50%;
  font-size: 15px;
  line-height: 0.8;
  padding: 8px 20px;
  text-align: center;
  background-color: #1583c9;
  color: #ffffff !important;
  
}
